body button {
  padding: 1.2rem 1rem;
  border-radius: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bolder;
}

.cargo-modal3, .command-modal, .command-password-modal, .galley-modal, .crew1-modal, .crew2-modal, .crew3-modal, .cargo-modal2, .battle-modal1, .engineering-modal, .reactor-startup-modal, #loot-message2, #loot-message1, .cargo-modal, .airlocks-modal, .eva-modal, .ship-scan-modal, .start-ship-modal, .intro-text-modal2, .intro-text-modal1, .intro-modal, .game-menu-modal {
  height: 43.5rem;
  width: 62.5rem;
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

* {
  display: flex;
  font-size: 10px;
}

#video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("https://salvage-op.s3.us-east-2.amazonaws.com/Starset.png");
}
.init-menu-modal {
  padding: 2rem;
  height: 39.3rem;
  width: 74.5rem;
  text-align: center;
  position: fixed;
  top: 35%;
  transform: translateX(-45%);
  transform: translateY(-45%);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9500;
  display: none;
  flex-direction: column;
}
.init-menu-modal #game-logo {
  display: flex;
  justify-content: center;
  width: 45rem;
  padding: 5rem 0 0 0;
  margin-left: 17.2rem;
  z-index: 9000;
}
.init-menu-modal .init-button {
  background-color: #6b0303;
  padding: 2.5rem 3rem 2.5rem 3rem;
  margin: 0 10rem 10rem 10rem;
  transform: translateX(6%);
  cursor: pointer;
  font-size: 8rem;
  text-shadow: -0.1rem 0.1rem 0.4rem #000, 0.1rem 0.1rem 0.4rem #000, 0.1rem -0.1rem 0.4rem #000, -0.1rem -0.1rem 0.4rem #000;
  letter-spacing: 0.65rem;
  color: #e4e4e4;
  border: silver;
  border-radius: 2rem;
  border: 0.5rem solid #7d8083;
}

.init-menu-modal.close {
  display: none;
}

.game-menu-modal {
  background-image: url(https://i.imgur.com/v89GyJ7.png);
  background-position: center;
  display: none;
  z-index: 9000;
  transform: translateX(10%);
  transform: translateY(-50%);
}
.game-menu-modal .main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  transform: translateX(4%);
  padding: 4rem;
  z-index: 8500;
}
.game-menu-modal button {
  background-color: #50a997;
  border: 0.4rem solid black;
  margin: 2.5rem 2rem 0.5rem 4rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 0.65rem;
  color: #e4e4e4;
}
.game-menu-modal #linear-logo {
  margin-top: 2rem;
}

.game-menu-modal.open {
  display: flex;
}

.videobg-modal {
  display: block;
}

.videobg-modal.close {
  display: none;
}

.intro-modal {
  height: 50rem;
  width: 70rem;
  z-index: 8500;
  display: none;
}
.intro-modal .intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.intro-modal #cere-station {
  display: flex;
  justify-content: center;
  padding: 5rem 0 0 3.46rem;
  margin-left: 7.2rem;
  transform: translateX(5%);
  z-index: 8500;
}
.intro-modal #ship-gif {
  display: flex;
  justify-content: center;
  padding: 5rem 0 0 15.46rem;
  margin-right: 3.2rem;
  transform: translateX(-15%);
  z-index: 8500;
}
.intro-modal #start-ship {
  display: flex;
  justify-content: center;
  padding: 0 0 10rem 1.46rem;
  margin-left: 2rem;
  z-index: 8500;
}

.intro-modal.open {
  display: block;
}

.ceres-modal {
  display: none;
}

.ceres-modal.open {
  display: block;
}

.intro-text-modal1 {
  text-align: start;
  height: 20rem;
  width: 60rem;
  transform: translateY(75%);
  display: none;
}
.intro-text-modal1 #start-dialog {
  color: whitesmoke;
  font-size: 2rem;
}

.intro-text-modal1.open {
  display: block;
}

.intro-text-modal2 {
  text-align: start;
  height: 20rem;
  width: 60rem;
  transform: translateY(75%);
  display: none;
}
.intro-text-modal2 #start-dialog-cont {
  color: whitesmoke;
  font-size: 2rem;
}

.intro-text-modal2.open {
  display: block;
}

.ship-gif-modal {
  display: none;
}

.ship-gif-modal.open {
  display: block;
}

.start-ship-modal {
  display: none;
}

.start-ship-modal.open {
  display: block;
}

.ship-scan-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}

.ship-scan-modal.open {
  display: flex;
}

.results-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 15rem;
  width: 60rem;
}
.results-modal #scan-result1 {
  color: whitesmoke;
  font-size: 2rem;
}
.results-modal #scan-result2 {
  color: whitesmoke;
  font-size: 2rem;
}
.results-modal #scan-result3 {
  color: whitesmoke;
  font-size: 2rem;
}
.results-modal #scan-result4 {
  color: whitesmoke;
  font-size: 2rem;
}

.results-modal.open {
  display: flex;
}

.eva-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.eva-modal #eva-description {
  color: whitesmoke;
  font-size: 2.5rem;
}

.eva-modal.open {
  display: flex;
}

.airlocks-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}

.airlocks-modal.open {
  display: flex;
}

.cargo-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-10);
  padding: 4rem;
}
.cargo-modal #sixth-next {
  display: flex;
  position: fixed;
  transform: translateY(1100%);
  z-index: 2500;
}
.cargo-modal #cargo-message1 {
  display: flex;
  position: fixed;
  transform: translateY(1562%);
  color: whitesmoke;
  font-size: 2.5rem;
}
.cargo-modal #secret-note {
  display: flex;
  position: fixed;
  transform: translate(-220%, 245%);
  height: 5rem;
  width: 5rem;
  z-index: 2500;
  cursor: pointer;
}
.cargo-modal .loot-locked {
  display: flex;
  position: fixed;
  transform: translate(2147%, 3400%);
  height: 0.5rem;
  width: 0.7rem;
  z-index: 2500;
  cursor: pointer;
}

.cargo-modal.open {
  display: flex;
}

#loot-message1 {
  background-image: url(https://salvage-op.s3.us-east-2.amazonaws.com/panel-1-purp.png);
  height: 35.5rem;
  width: 54.5rem;
  transform: translateX(-30);
  padding: 4rem;
}
#loot-message1 #loot-message {
  color: whitesmoke;
  font-size: 2.5rem;
}

#loot-message2 {
  background-image: url(https://salvage-op.s3.us-east-2.amazonaws.com/panel-1-green.png);
  height: 35.5rem;
  width: 54.5rem;
  transform: translateX(-30);
  padding: 4rem;
}
#loot-message2 #loot-message-win {
  color: whitesmoke;
  font-size: 2.5rem;
}

.loot1 {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 2500;
}

.loot1.open {
  display: flex;
}

.loot2 {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 2500;
}

.loot2.open {
  display: flex;
}

.reactor-startup-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}

.reactor-startup-modal.open {
  display: flex;
}

.engineering-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.engineering-modal #drone1 {
  display: none;
  position: fixed;
  transform: translate(140%, 275%);
  height: 5rem;
  width: 5rem;
  z-index: 2500;
}
.engineering-modal #engineering-dialog {
  color: whitesmoke;
  font-size: 2.5rem;
}

#drone1.open {
  display: flex;
}

.engineering-modal.open {
  display: flex;
}

.battle-modal1 {
  background-image: url(https://salvage-op.s3.us-east-2.amazonaws.com/panel-1.png);
  background-position: center;
  height: 35.5rem;
  width: 54.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
  z-index: 2500;
}
.battle-modal1 #attack-drone {
  cursor: crosshair;
}

.battle-modal1.open {
  display: flex;
}

.cargo-modal2 {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.cargo-modal2 .loot-locked {
  display: flex;
  position: fixed;
  transform: translate(2147%, 3200%);
  height: 0.5rem;
  width: 0.7rem;
  z-index: 2500;
  cursor: pointer;
}

.cargo-modal2.open {
  display: flex;
}

.crew3-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.crew3-modal #d3-text {
  color: whitesmoke;
  font-size: 2.5rem;
}

.crew3-modal.open {
  display: flex;
}

.crew2-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}

.crew2-modal.open {
  display: flex;
}

.crew1-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.crew1-modal #health-regen {
  display: flex;
  position: fixed;
  transform: translate(-5%, 30%);
  height: 5rem;
  width: 5rem;
  z-index: 2500;
  cursor: pointer;
}

.crew1-modal.open {
  display: flex;
}

.galley-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.galley-modal #pw-note {
  display: flex;
  position: fixed;
  transform: translate(-40%, 155%);
  height: 5rem;
  width: 5rem;
  z-index: 2500;
  cursor: pointer;
}
.galley-modal #galley-dialog {
  color: whitesmoke;
  font-size: 2.5rem;
}

.galley-modal.open {
  display: flex;
}

.command-password-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}

.command-password-modal.open {
  display: flex;
}

.command-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.command-modal #drone3 {
  display: none;
  position: fixed;
  transform: translate(165%, 300%);
  height: 5rem;
  width: 5rem;
  z-index: 2500;
}
.command-modal #command-dialog {
  color: whitesmoke;
  font-size: 2.5rem;
}

#drone3.open {
  display: flex;
}

.command-modal.open {
  display: flex;
}

.prize-button-modal {
  display: none;
}

.prize-button-modal.open {
  display: flex;
}

.cargo-modal3 {
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-30);
  padding: 4rem;
}
.cargo-modal3 .loot-locked {
  display: flex;
  position: fixed;
  transform: translate(2147%, 3400%);
  height: 0.5rem;
  width: 0.7rem;
  z-index: 2500;
  cursor: pointer;
}

.cargo-modal3.open {
  display: flex;
}

@media (min-aspect-ratio: 16/9) {
  #video-bg {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video-bg {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }

  body {
    background: url("https://salvage-op.s3.us-east-2.amazonaws.com/The_Expanse_RPG_Background.m4v");
    background-size: cover;
  }
}

/*# sourceMappingURL=main.css.map */
